<h1>All users</h1>

<ul class="students">
          <table>
    <%= render @students %>
    </table>
</ul>

<div id="without_button">
<%= will_paginate @students %>
</div>


<% if @studentsnext_page %>
<div id="load_more_students">
    <%= button_to 'More students', {action: "index", new_req: true }, method: :get, remote: true, class: "btn btn-primary btn-large" %> 
</div>
<% end %>